
body {
    background-color: black;
    color: rgba(255,255,255,0.8);
}

h1 {
    color: white;
}

#landing {
    height: 100vh;
    background-image: url('Midway-Geyser.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#mainText {
    margin-top: 30vh;
}

#intro {
    margin-top: 50px;
}

#work {
    /* margin-top: 15px; */
    background-color: rgb(61,61,61);
}

#p1 {
    height: 350px;
}

#image-class {
    height: auto;
    width: 280px;
}

.responsive-img {
    padding-left: 5px;
}

.section {
    background-color: #141414;
}

.section-two {
    background-color: #101010;
}

.modal {
    max-height: 90%;
  }
  
.modal-form-row {
    margin-bottom: 0px;
  }

/* .fab {
    background-color:orange;
} */
